<ion-view view-title="nombre">
  <ion-content class="padding">

    <div class="list card">

		<div class="item item-avatar">
			<img ng-src="http://placehold.it/200x200">
			<h2>Contacto</h2>
            <p>Conócenos más de cerca.</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="http://placehold.it/350x350">
			<p>
			  descripcionlarga
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-facebook"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-twitter"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-youtube"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-instagram"></i>
			</a>
		</div>

	</div>

  </ion-content>
</ion-view>