<ion-view view-title="Contacto">
  	<ion-nav-buttons side="right">
        <div class="row button-llamar">
            <a href="tel:04247262365" class="button button-icon button-clear ion-ios-telephone placeholder-icon"></a>
            <!--<a class="button button-icon button-clear ion-android-share-alt" ng-click="shareAnywhere()">
            </a>-->
        </div>
    </ion-nav-buttons>
  <ion-content class="padding">
	
	<!--<button class="button" ng-click="shareAnywhere()">Share anywhere</button>
	<button class="button" ng-click="shareViaTwitter('some message', null, 'http://blog.nraboy.com')">Share on Twitter</button>-->

    <div class="list card">

		<div class="item item-avatar">
			<img src="img/7.png">
			<h2>Contacto</h2>
            <p>Conócenos más de cerca.</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#" browse-to="https://www.facebook.com/nvcarga">
			  	<i class="icon ion-social-facebook"></i>
			</a>
			<a class="tab-item" href="#" browse-to="https://twitter.com/nvcarga">
			  	<i class="icon ion-social-twitter"></i>
			</a>
			<a class="tab-item" href="#" browse-to="https://www.youtube.com/channel/UC_d2f3nIMTn8o9xqY6ttFsQ/">
			  	<i class="icon ion-social-youtube"></i>
			</a>
			<a class="tab-item" href="#" browse-to="https://instagram.com/nvcarga">
			  	<i class="icon ion-social-instagram"></i>
			</a>
		</div>

		<div id="map_canvas">
			    <ui-gmap-google-map 
			    	center="map.center" 
			    	zoom="map.zoom"
			    	draggable="false"
			    	options="map.options">
				        <ui-gmap-marker 
				        		coords="map.marker"
				        		idkey="map.id"
				        		options="map.options"
				        		draggable="true">
				        </ui-gmap-marker>
			    </ui-gmap-google-map>
			</div>

		<div class="form">
			<form name="formulario" id="formulario">
	    		
	        	<div class="list">
				  	<label class="item item-input item-stacked-label">
				    	<span class="input-label">Nombre</span>
				    	<input type="text" placeholder="Nombre y Apellido" id="i_nombre" name="nombre" ng-model="formData.i_nombre" required>
				 	</label>
				  	<label class="item item-input item-stacked-label">
				    	<span class="input-label">Telefono</span>
				    	<input type="number" placeholder="Telefono" id="i_telefono" name="telefono" ng-model="formData.i_telefono" required>
				  	</label>				  	
				  	<label class="item item-input item-stacked-label">
				    	<span class="input-label">Email</span>
				    	<input type="text" placeholder="nombre@dominio.com" id="i_correo" name="correo" ng-model="formData.i_correo" required>
				  	</label>
				  	<label class="item item-input">
					    <textarea placeholder="Escriba aqui su solicitud" rows="3" id="i_mensaje" name="mensaje" ng-model="formData.i_mensaje" required></textarea>
					</label>
				  	<label class="item item-input item-stacked-label"></label>

				</div>
				
				<div class="button-enviar">
					<button class="button button-positive"type="submit" value="enviar" ng-disabled="formulario.$invalid" ng-click="enviar(formData)">
	  					Enviar
					</button>
				</div>
				
        	</form>
		</div>

		

	</div>

  </ion-content>
</ion-view>