<ion-view view-title="Envíos">
  <ion-content class="padding">

    <div class="list card">

		<div class="item item-avatar">
			<img src="img/3.png">
			<h2>Envios</h2>
            <p>Asegura tu mercancía.</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="img/envios.jpg">
			<p align="justify">
			  	<b>La Carga Marítima</b> al igual que la aérea, se recibe en nuestras oficinas de Orlando regularmente. La carga marítima viaja cada jueves y es entregada por el mismo precio a todas las ciudades principales de Venezuela. El tiempo estimado de entrega desde nuestras oficinas en USA hasta la puerta de su casa u oficina es de 3 semanas. No tenemos intermediarios, la operación es 100% de NVcarga. tiene un costo de 25us$ por cada pie cubico la operación se puede pagar en Bs. también.
			</p>
			<p align="justify">
			  	<b>La Carga Áerea</b> se recibe en nuestras oficinas de Orlando de forma regular, se envía a venezuela los dias Jueves el tiempo de entrega es de aproximadamente 4 dias habiles, nuestra tarifa incluye el envio y entrega desde nuestras oficinas en USA hasta la puerta de su casa u oficina en todos los rincones de Venezuela, no tenemos intermediarios, la operacion es 100% de NVCarga. tiene un costo de 6.50 us$ la libra y la operación se puede pagar en ambas monedas de igual manera.
			</p>
		</div>

	</div>

  </ion-content>
</ion-view>