<ion-view view-title="NV Carga">
  <ion-content>
    <ion-list>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/servicio">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Servicios</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/quienes-somos">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Quiénes Somos</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/envios">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Envios</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/vehiculos">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Importación de Vehículos</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/pagos">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Pagos</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/comprar">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Como Comprar</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/contacto">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Contacto</h2>
        <p>Descripcion</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>

