<ion-view view-title="Pagos">
  <ion-content class="padding">

    <div class="list card">

		<div class="item item-avatar">
			<img ng-src="http://placehold.it/200x200">
        	<h2>Pagos</h2>
        	<p>Fácil y práctico.</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="http://placehold.it/350x350">
			<p align="justify">
			  	<b>Pago en BS</b><br>
				NVCarga solo trabaja en Venezuela con transferencias electrónicas y se realizan al banco activo, para poder suministrar la información de nuestras cuentas ya usted debe tener una carga por ser despachada.
			</p>
			<p align="justify">
			  	<b>No Aceptamos Efectivo</b><br>
				Tampoco se despacha una carga sin antes haber cancelado la totalidad de la factura correspondiente.
				El tema del cambio de la moneda tambien se trata en el momento del cobro ya que la tarifa del dolar es muy cambiante.
			</p>
			<p align="justify">
			  	<b>Pago en Dolares $</b><br>
				Para el pago en dolares se acepta transferencia bancaria y usamos el Banco Wells Fargo y TDBank, se aceptan cupos CADIVI Viajeros o eletrónicos. Se suministra información bancaria una vez que su carga este en transit.
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-facebook"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-twitter"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-youtube"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-instagram"></i>
			</a>
		</div>

	</div>

  </ion-content>
</ion-view>