<ion-view view-title="Quienes Somos">
  <ion-content class="padding">

    <div class="list card">

		<div class="item item-avatar">
			<img ng-src="http://placehold.it/200x200">
			<h2>Quiénes Somos</h2>
            <p>Conócenos un poco.</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="http://placehold.it/350x350">
			<p align="justify">
			  	<b>NVCARGA</b> es un empresa que busca satisfacer las necesidades de transporte de carga de los Venezolanos en la Florida Central, entendemos que hoy en día la exportación e importación de productos entre Estados Unidos y Venezuela constituyen una gran parte fundamental en los negocios de muchos de nuestros compatriotas Venezolanos y es por eso que le ofrecemos un servicio de calidad 100% garantizado para que no tengan que preocuparse de procesos aduaneros ni de ningún proceso de transporte. Es tan fácil como dejarlo en nuestras manos, nosotros recogemos la carga desde su hogar u oficina y lo entregamos en sus manos.
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-facebook"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-twitter"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-youtube"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-instagram"></i>
			</a>
		</div>

	</div>

  </ion-content>
</ion-view>