<ion-view view-title="Servicios">
  <ion-content class="padding">

    <div class="list card">

		<div class="item item-avatar">
			<img src="img/1.png">
			<h2>Servicios</h2>
            <p>Descubre nuestras comodidades.</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="img/servicio.jpg">
			<p align="justify">
			  	<b>NV Carga</b> una empresa registrada ante la Comisión Marítima Federal de los Estados Unidos con sus respectivas licencias N.V.C.C. y Freight Forwardes. Que certifican la capacidad de nuestra empresa para operar dentro de los Estados Unidos y hacia cualquier parte del mundo. A través de los de los años se ha sistematizado con excelencia los requisitos logísticos necesarios para cada tipo de exportación y según las de necesidades de cada exportador, ofreciendo un servicio personalizado que ha permitido construir una reputación inigualable en cuanto a satisfacción del cliente se refiere.
			</p>
		</div>
	</div>

  </ion-content>
</ion-view>