/* Empty. Add your own CSS if you like */

.slider-pager .slider-pager-page {
  /*color: #fff;*/
  width: 7px;
}
.slider-pager-page i{
    font-size: 8px;
    /*color: #fff;*/
}
.profile-picture img{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-top: -20px;
    vertical-align: middle;
}
.button-enviar{
	text-align: center;
	padding-bottom: 20px;
}
.padding{
    padding: 0px;
}
.card, .list-inset {
    overflow: hidden;
    margin: 0px 0px;
    border-radius: 2px;
    background-color: #fff;
}
.img-icon-app{
    width: 35px;
    height:35px;
    padding-bottom: 2px;
    margin-left:10px;
}
.bar.bar-calm {
    border-bottom: solid #a9cf38;
}
.button-llamar{
    padding: 0px;
    bottom: 0px;
    position: relative;
    top: -1.99px;
}
#map_canvas {
    height: 200px;
    width: 100%;
    margin: 0px;
}
#map_canvas {
    position: relative;
}    
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}