/* Empty. Add your own CSS if you like */

.slider-pager .slider-pager-page {
  /*color: #fff;*/
  width: 7px;
}
.slider-pager-page i{
    font-size: 8px;
    /*color: #fff;*/
}
.profile-picture img{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-top: -20px;
    vertical-align: middle;
}
.button-enviar{
	text-align: center;
	padding-bottom: 20px;
}
.padding{
  padding: 0px;
}
.card, .list-inset {
  overflow: hidden;
  margin: 0px 0px;
  border-radius: 2px;
  background-color: #fff;
}